html {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1em;
    box-sizing: border-box;
    color: white;
    /* transition: 50ms; */
    width: 100vw;
}

body {
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(255, 110, 156);
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

main {
    display: inline-block;
    margin-top: 9em;
    margin-bottom: 5em;
    min-height: 100vh;
    width: 100%;
}

main.product-page {
    margin-top: 2em;
    margin-bottom: 7em;
}

main#error {
    background-image: url(background-error-t.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}


/* *************************************************************************************
/* HEADER */

header {
    background-color: rgb(255, 110, 156);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 15;
    min-height: 70px;
    transition: min-height .5s;
}

header #logo {
    width: 30vw;
    padding: 0.1em 0.3em 0.4em;
    box-sizing: border-box;
    min-height: 70px;
}

header li {
    display: inline;
}

header ul {
    list-style: none;
    box-sizing: border-box;
    padding: 0 1em;
    margin: 0;
    float: left;
}

header ul#right {
    float: right;
    transform: translate(0, 70%);
}

header li a {
    display: inline-block;
}

header li.nav {
    padding: 0 .3em;
}

header .bouton {
    border-radius: 1em;
    background-color: white;
    color: rgb(255, 110, 156);
    padding: 0.3em .6em;
}

.phone {
    display: none;
}

#phone-ul {
    height: 0;
    overflow: hidden;
}


/* *************************************************************************************
/* Cloud handling */

#cloud-wrapper {
    display: flex;
}

#cloud-wrapper img {
    width: 100%;
}

#cloud-wrapper div {
    flex: 1;
    -ms-flex: 1;
    padding: 5vw;
}


/* *************************************************************************************
/* Products section */


/* CUSTOM */

#text-container-intro {
    float: left;
    width: 35%;
    position: sticky;
    top: 105px;
}

#text-container-prod {
    float: right;
    width: 35%;
    margin-top: 6em;
}


/* FOR ALL TEXTS */

.text-container {
    padding: 0 5.4vw;
    box-sizing: border-box;
}

.text-bg {
    background-color: white;
    word-wrap: break-word;
    border-radius: 1.8vh;
    padding: 1.5em;
}

.text-body {
    margin: 0;
    font-size: .85em;
}

.pink {
    color: rgb(255, 110, 156);
}

.hr-line {
    word-wrap: normal;
    overflow: hidden;
    text-overflow: "";
    letter-spacing: 3px;
}

.title {
    margin: 0;
    font-size: 1.45em;
}


/* END FOR ALL TEXTS */

#more {
    display: none;
    color: rgb(89, 202, 234);
}

#image-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    float: left;
    width: 65%;
    box-sizing: border-box;
}

.product-row {
    display: flex;
    padding: 1.5vh 0;
}

#image-container a {
    flex: 50%;
}

#product-box {
    width: 65%;
    max-width: 100%;
    float: left;
    position: sticky;
    top: 90px;
    height: 100vh;
}


/* .prod-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    text-align: center;
    display: grid;
    margin-left: 2em;
    transition: width .4s;
    box-sizing: border-box;
} */

.prod-wrapper {
    display: flex;
    width: 90%;
    height: 90%;
    text-align: center;
    margin-left: 2em;
    transition: width .4s;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
}

.prod-wrapper:hover {
    width: 120%;
}

.prod-wrapper#prod {
    padding: 0 3em;
}


/* .prod-wrapper#prod:hover {
    margin: 0 7em;
} */


/* .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
} */

#stars {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#stars img {
    width: 47em;
}


/* *************************************************************************************
/* SLIDER */

.slider-wrapper {
    width: 100vw;
    height: 70vh;
    position: relative;
    overflow: visible;
    padding: 0;
    margin: 0;
}

.frame-wrapper {
    z-index: 10;
    position: absolute;
    transform: translate(0, -50%);
}

.frame-wrapper img {
    object-fit: cover;
    min-width: 100%;
}

.slider-wrapper .slides {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out all;
}

.slider-wrapper .slides .slide {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}


/* *************************************************************************************
/* FOOTER */

footer {
    background-color: rgb(255, 110, 156);
    color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    line-height: 1.2em;
}

footer ul {
    display: flex;
    width: 100%;
    list-style: none;
    padding: 3em 0;
    margin: 0;
}

footer li {
    flex: 1;
    padding-left: 8em;
}

footer h1 {
    font-size: .95em;
}

footer h2 {
    font-size: .75em;
}

footer a:hover {
    text-decoration: underline;
    transition: .4s cubic-bezier(0, 0.81, 0.58, 1.2);
}

footer #slogan {
    padding: 1em 4% 5em;
}


/* MEDIA QUERIES */


/* *************************************************************************************
****************************__LESS THAN 960PX___*************************************
************************************************************************************* */

@media (min-width:1400px) {
    html {
        font-size: 1.2em;
    }
}

@media (max-width:960px) {

   /* #stars img {
        display: none;
    } */

    /* HEADER MENU */
    #right {
        display: none;
    }
    .phone {
        display: initial;
    }
    #plus {
        position: fixed;
        right: 1em;
        transform: translate(0, 50%);
    }
    /* HEADER */
    header.open {
        min-height: 100vh;
    }
    #phone-ul {
        transition: all 1s;
    }
    #phone-ul.open {
        height: 100vh;
        padding: 7em 0;
        transition: all 1s;
        overflow: visible;
    }
    .phone-nav {
        padding: 1em 0;
        display: block;
        overflow: hidden;
    }
    /* HEADER IS CENTERED / MENU SLIDE OPEN */
    header #logo {
        width: 53vw;
        padding: 0.1em 0.4em 0.5em;
    }
    header ul {
        text-align: center;
        width: 100%;
    }
    header.nav {
        display: none;
    }
    header li.open {
        display: initial;
    }
    /* SLIDER */
    .frame-wrapper img {
        min-width: 110%;
    }
    /* PRODUCTS */
    #text-container-intro {
        width: 45%;
        padding: 0 4vw;
    }
    #image-container {
        width: 55%;
        padding: 0 2em;
    }
    .product-row {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    #image-container a {
        flex: 1;
    }
    /* FOOTER */
    footer li {
        padding: 0 4em;
    }
    #product-box {
        width: 100%;
        /* float: left; */
        position: relative;
        /* top: 90px; */
        height: auto;
    }
    .prod-wrapper {
        margin-left: 0;
        transition: width .3s;
    }
    .prod-wrapper:hover {
        width: 100%;
    }
    .prod-wrapper#prod {
        padding: 0 2em;
    }
    #text-container-prod {
        position: relative;
        width: 100%;
        box-sizing: border-box;
        float: left;
        margin-top: 5em;
    }
}


/* *************************************************************************************
****************************__LESS THAN 780PX___*************************************
************************************************************************************* */

@media (max-width:780px) {

   /* #stars img {
        display: none;
    } */

    header #logo {
        width: 60vw;
        /* padding: 0.5em 0.4em 0.7em; */
    }
    main {
        margin-top: 0;
    }
    main.product-page {
        margin-top: 0;
    }
    /* SLIDER */
    .slider-wrapper,
    #space-between {
        display: none;
    }
    /* CLOUDS */
    #cloud-wrapper {
        display: none;
    }
    /* PRODUCTS */
    #text-container-intro {
        position: relative;
        width: 100%;
        box-sizing: border-box;
        padding: 0;
        top: 0;
    }
    .text-body {
        margin: 0;
        font-size: .9em;
    }
    /* #product-box {
        width: 100%;
        position: relative;
        top: 90px;
        height: calc(100vh - 90px);
    } */
    /* .prod-wrapper {
        margin-left: 0;
    } */
    #intro-bg {
        padding-top: 6em;
    }
    #intro #readmore {
        display: none;
    }
    #more {
        display: inline;
    }
    #more.hide {
        display: none;
    }
    #intro #readmore.visible {
        display: initial;
    }
    #image-container {
        width: 100%;
        box-sizing: border-box;
        padding: 4em 10.5vw;
    }
    .product-row {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    footer ul {
        flex-direction: column;
        padding: 2em 0;
    }
    footer li {
        padding: .4em 0;
        text-align: center;
    }
    footer h1 {
        font-size: 1.1em;
    }
    footer h2 {
        font-size: .9em;
        padding: 0.3em 0;
        margin: 0;
    }
    footer #slogan {
        display: none;
    }
}


/* *************************************************************************************
****************************__LESS THAN 500PX___*************************************
************************************************************************************* */

@media (max-width:500px) {

   /* #stars img {
        display: none;
    }*/

    /* HEADER */
    header #logo {
        width: 75vw;
        min-height: 0px;
        /* padding: 0.5em 0.4em 0.7em; */
    }
    header {
        min-height: 0px;
    }
    main {
        padding: 0;
    }
    #image-container {
        padding: 3em 1em;
    }
    #text-container-prod {
        margin-top: 3em;
    }
}


/* OTHER PAGES */

.error {
    padding: 4em 25vw;
}